In [55]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

In [56]:
data = pd.read_csv("beamsearch_results_with_h8.csv")
data

,sigma,filename,beam_width,heuristic,length,time_s,feasible
0,sigma-2,mglcs_10_100_2_0.txt,10,h1,4,0.0061,True
1,sigma-2,mglcs_10_100_2_0.txt,10,h2,4,0.0105,True
2,sigma-2,mglcs_10_100_2_0.txt,10,h3,4,0.0083,True
3,sigma-2,mglcs_10_100_2_0.txt,10,h4,4,0.0075,True
4,sigma-2,mglcs_10_100_2_0.txt,10,h5,6,0.0090,True
...,...,...,...,...,...,...,...
1915,sigma-4,mglcs_5_50_4_9.txt,10,h4,9,0.0020,True
1916,sigma-4,mglcs_5_50_4_9.txt,10,h5,9,0.0025,True
1917,sigma-4,mglcs_5_50_4_9.txt,10,h6,8,0.0010,True
1918,sigma-4,mglcs_5_50_4_9.txt,10,h7,9,0.0020,True
1919,sigma-4,mglcs_5_50_4_9.txt,10,h8,9,0.0030,True

In [57]:
#preprocess 

def bs_extract(data):
    
    data["sigma"] = data.apply(lambda x: int(x["sigma"][6:]), axis=1)
    data["filename"] = data.apply(lambda x: (x["filename"][6:] ), axis=1)
    data["m"] = data.apply(lambda x: int(x["filename"].split("_")[0]), axis=1)
    data["n"] = data.apply(lambda x: int(x["filename"].split("_")[1]), axis=1)
    data["index"] = data.apply(lambda x: int(x["filename"].split("_")[-1].split(".")[0]), axis=1)

    data_results=data[["m",  "n", "sigma", "index", "heuristic", "length" ] ] 
    return data_results

def aggregate_bs_results(data_results_grouped):

    data_results_grouped=data_results.groupby(["m", "n", "sigma",  "heuristic" ] ).agg({"length": "mean"}).reset_index()
    data_results_grouped = data_results_grouped.groupby(["heuristic", "n"]).mean().reset_index()[["heuristic", "n", "length"]].sort_values(["n", "heuristic"])
    return data_results

In [58]:
data_results = bs_extract(data)
data_results

       m    n  sigma  index heuristic  length
0     10  100      2      0        h1       4
1     10  100      2      0        h2       4
2     10  100      2      0        h3       4
3     10  100      2      0        h4       4
4     10  100      2      0        h5       6
...   ..  ...    ...    ...       ...     ...
1915   5   50      4      9        h4       9
1916   5   50      4      9        h5       9
1917   5   50      4      9        h6       8
1918   5   50      4      9        h7       9
1919   5   50      4      9        h8       9

[1920 rows x 6 columns]

## Aggregation:

In [59]:
data_results_grouped=data_results.groupby(["m", "n", "sigma",  "heuristic" ] ).agg({"length": "mean"}).reset_index()
data_results_grouped

      m    n  sigma heuristic  length
0     2   50      2        h1    33.0
1     2   50      2        h2    31.5
2     2   50      2        h3    33.3
3     2   50      2        h4    33.0
4     2   50      2        h5    33.9
..   ..  ...    ...       ...     ...
187  10  200      4        h4     3.9
188  10  200      4        h5     3.7
189  10  200      4        h6     3.7
190  10  200      4        h7     3.9
191  10  200      4        h8     3.3

[192 rows x 5 columns]

In [60]:
##Visualisations:
print("Results for beam width of 10:\n")
data_results_grouped.groupby("heuristic").mean().reset_index()[["heuristic", "length"]]

Results for beam width of 10:

  heuristic     length
0        h1  28.762500
1        h2  27.437500
2        h3  27.200000
3        h4  27.825000
4        h5  29.395833
5        h6  29.150000
6        h7  27.654167
7        h8  26.000000

In [61]:
data_results_grouped.groupby(["heuristic", "n"]).mean().reset_index()[["heuristic", "n", "length"]].sort_values(["n", "heuristic"])

   heuristic    n   length
0         h1   50  15.5375
3         h2   50  15.7500
6         h3   50  15.3125
9         h4   50  15.5750
12        h5   50  16.5000
15        h6   50  16.3500
18        h7   50  15.6750
21        h8   50  14.6000
1         h1  100  25.0000
4         h2  100  25.3000
7         h3  100  24.9875
10        h4  100  25.7875
13        h5  100  26.0125
16        h6  100  26.0000
19        h7  100  25.9875
22        h8  100  23.0625
2         h1  200  45.7500
5         h2  200  41.2625
8         h3  200  41.3000
11        h4  200  42.1125
14        h5  200  45.6750
17        h6  200  45.1000
20        h7  200  41.3000
23        h8  200  40.3375

# Result for the new IMSBS:

In [69]:
data_ibs = pd.read_csv("imsbs/beamsearch+imbs_results.csv")
data_ibs

data_ibs["sigma"] = data_ibs.apply(lambda x: int(x["sigma"][6:]), axis=1)
data_ibs["filename"] = data_ibs.apply(lambda x: (x["filename"][6:] ), axis=1)
data_ibs["m"] = data_ibs.apply(lambda x: int(x["filename"].split("_")[0]), axis=1)
data_ibs["n"] = data_ibs.apply(lambda x: int(x["filename"].split("_")[1]), axis=1)
data_ibs["index"] = data_ibs.apply(lambda x: int(x["filename"].split("_")[-1].split(".")[0]), axis=1)
data_ibs["alg"] = data_ibs.apply(lambda x: (x["func"].split("_")[0].split(".")[0]), axis=1)


data_ibs_grouped = data_ibs[["alg", "m", "n", "sigma", "beam_width", "heuristic", "length", "time_s" ]].groupby(by=["alg", "m", "n", "sigma", "beam_width", "heuristic" ]).agg( { "length" : "mean", "time_s": "mean"} ).reset_index()

data_grouped_bs = data_ibs_grouped[data_ibs_grouped["alg"] == "beam"]
data_grouped_bs.drop(columns=["alg"], axis = 1, inplace=True)

data_grouped_ibs = data_ibs_grouped[data_ibs_grouped["alg"] == "imbs"]
data_grouped_ibs.drop(columns=["alg"], axis = 1, inplace=True)

/home/marko/.local/lib/python3.10/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

       m    n  sigma  beam_width heuristic  length   time_s
672    2   50      2           5        h1    33.8  0.00287
673    2   50      2           5        h2    29.8  0.00327
674    2   50      2           5        h5    35.0  0.00471
675    2   50      2           5        h8    29.5  0.00433
676    2   50      2          10        h1    34.1  0.00397
...   ..  ...    ...         ...       ...     ...      ...
1339  10  200      4         250        h8     3.0  0.28458
1340  10  200      4         500        h1     3.0  0.27922
1341  10  200      4         500        h2     3.0  0.27963
1342  10  200      4         500        h5     3.0  0.28296
1343  10  200      4         500        h8     3.0  0.28620

[672 rows x 7 columns]

In [79]:
## further group by for the results of beam_width = 500:

data_grouped_bs_bw_500 = data_grouped_bs[data_grouped_bs["beam_width"] == 500]
data_grouped_ibs_bw_500 = data_grouped_ibs[data_grouped_ibs["beam_width"] == 500]


data_grouped_bs_bw_500.drop(columns=["beam_width"], inplace=True)
data_grouped_ibs_bw_500.drop(columns=["beam_width"], inplace=True)

/home/marko/.local/lib/python3.10/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [80]:

data_grouped_bs_bw_500 = data_grouped_bs_bw_500.rename(columns={ "length" : "BS", "time_s": "BS_time" })
data_grouped_ibs_bw_500 = data_grouped_ibs_bw_500.rename(columns={ "length" : "IBS", "time_s": "IBS_time" })

In [85]:
#concat the results:

bs_ibs_beam_500 = data_grouped_bs_bw_500.merge(data_grouped_ibs_bw_500, on=["m", "n", "sigma", "heuristic"], how = "left")

In [87]:
bs_ibs_beam_500[[ "BS",  "BS_time", "IBS", "IBS_time" ]].mean()

BS          24.329167
BS_time      0.133684
IBS         32.026042
IBS_time     2.240848
dtype: float64